In [1]:
#pip install elasticsearch

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting elasticsearch
  Downloading elasticsearch-8.5.2-py3-none-any.whl (385 kB)
     |████████████████████████████████| 385 kB 6.0 MB/s
Collecting elastic-transport<9,>=8
  Downloading elastic_transport-8.4.0-py3-none-any.whl (59 kB)
     |████████████████████████████████| 59 kB 4.2 MB/s
Requirement already satisfied: certifi in /usr/local/lib/python3.7/dist-packages (from elastic-transport<9,>=8->elasticsearch) (2022.9.24)
Collecting urllib3<2,>=1.26.2
  Downloading urllib3-1.26.13-py2.py3-none-any.whl (140 kB)
     |████████████████████████████████| 140 kB 49.2 MB/s
Installing collected packages: urllib3, elastic-transport, elasticsearch
  Attempting uninstall: urllib3
    Found existing installation: urllib3 1.24.3
    Uninstalling urllib3-1.24.3:
      Successfully uninstalled urllib3-1.24.3
ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
requests 2.23.0 requires urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1, but you have urllib3 1.26.13 which is incompatible.
Successfully installed elastic-transport-8.4.0 elasticsearch-8.5.2 urllib3-1.26.13

# Módulos

In [12]:
# Importacion de modulos 
import elasticsearch
import numpy as np
from elasticsearch import Elasticsearch
from elasticsearch import client
from datetime import datetime
from time import sleep

# Inputs

In [3]:
# Informacion sobre la incidencia
fecha_inicio_incidencia = "2022-03-04 23:50:00" # Meter la hora según timezone
fecha_fin_incidencia    = "2022-03-06 00:10:00" # Meter la hora según timezone

# Nombre del Job de Elastic
jobname                 = "sabado_anomalia"

In [21]:
# Datos de la conexion con el servidor de Elastic
ELASTIC_PASSWORD = "9QJVpAsI1dfU33vZpc072VTd"
CLOUD_ID = "SeriestemporalesElastic:dXMtY2VudHJhbDEuZ2NwLmNsb3VkLmVzLmlvOjQ0MyQxMmRiODkwZjhhN2U0YTVjOTAwMDViODMyZjhlYWViNCRjMmU4YmQxYjkzZTI0MGY5OTZiYzIyNTFkZGMxMGY4Yg=="

client = Elasticsearch(
    cloud_id=CLOUD_ID,
    basic_auth=("elastic", ELASTIC_PASSWORD)
)

# Nuevas Variables

In [ ]:
# Calculo del offset por cambio de hora

# Timestamps fechas incidencia
fecha_inicio_incidencia = datetime.strptime(fecha_inicio_incidencia, '%Y-%m-%d %H:%M:%S')
fecha_inicio_incidencia_timestamp = datetime.timestamp(fecha_inicio_incidencia)*1000

fecha_fin_incidencia = datetime.strptime(fecha_fin_incidencia, '%Y-%m-%d %H:%M:%S')
fecha_fin_incidencia_timestamp = datetime.timestamp(fecha_fin_incidencia)*1000

# Timestamps de las fechas de cambio de hora

# Primer cambio de hora
fecha_cambio_hora_1 = "2022-03-27 02:00:00" 
fecha_cambio_hora_1 = datetime.strptime(fecha_cambio_hora_1, '%Y-%m-%d %H:%M:%S')
fecha_cambio_hora_1_timestamp = datetime.timestamp(fecha_cambio_hora_1)*1000

# Segundo cambio de hora
fecha_cambio_hora_2 = "2022-10-30 02:00:00" 
fecha_cambio_hora_2 = datetime.strptime(fecha_cambio_hora_2, '%Y-%m-%d %H:%M:%S')
fecha_cambio_hora_2_timestamp = datetime.timestamp(fecha_cambio_hora_2)*1000

# Comparamos fechas en el mismo año 
fecha_inicio_incidencia_cambio_timestamp = (datetime(2022, fecha_inicio_incidencia.month, fecha_inicio_incidencia.day, fecha_inicio_incidencia.hour, fecha_inicio_incidencia.minute, fecha_inicio_incidencia.second).timestamp())*1000 

if (fecha_inicio_incidencia_cambio_timestamp < fecha_cambio_hora_1_timestamp):
    offset_1 = -3600 

if ((fecha_inicio_incidencia_cambio_timestamp > fecha_cambio_hora_1_timestamp) and (fecha_inicio_incidencia_cambio_timestamp < fecha_cambio_hora_2_timestamp)):
  offset_1 = -7200

if (fecha_cambio_hora_2_timestamp < fecha_inicio_incidencia_cambio_timestamp):
  offset_1 = -3600  

fecha_fin_incidencia_cambio_timestamp = (datetime(2022, fecha_fin_incidencia.month, fecha_fin_incidencia.day, fecha_fin_incidencia.hour, fecha_fin_incidencia.minute, fecha_fin_incidencia.second).timestamp())*1000 

if (fecha_fin_incidencia_cambio_timestamp < fecha_cambio_hora_1_timestamp):
    offset_2 = -3600 

if ((fecha_fin_incidencia_cambio_timestamp > fecha_cambio_hora_1_timestamp) and (fecha_fin_incidencia_cambio_timestamp < fecha_cambio_hora_2_timestamp)):
  offset_2 = -7200

if (fecha_cambio_hora_2_timestamp < fecha_fin_incidencia_cambio_timestamp):
  offset_2 = -3600

In [ ]:
# Transformacion de variables de entrada
# Fechas
fecha_inicio_incidencia = str((int(fecha_inicio_incidencia_timestamp + offset_1*1000)))
fecha_fin_incidencia = str((int(fecha_fin_incidencia_timestamp + offset_2*1000)))

# Nombre del Datafeed
datafeed_id = "datafeed-" + jobname

# Cliente de ML
cliente_ml = client.ml

# Solución

In [ ]:
# Paso 1. Parar y cerrar el Job
cliente_ml.close_job(job_id=jobname)

ObjectApiResponse({'closed': True})

In [ ]:
# Paso 2. Escoger el id de la snapshot con latest_record_time_stamp mas cercano a la incidencia
snapshots_available = cliente_ml.get_model_snapshots(job_id=jobname)
# Recoger el count 
number_snapshots = snapshots_available["count"]
# Iterar guardando en una matriz el id del snpashot y latest_record_time_stamp
snapshots_info = snapshots_available["model_snapshots"]
latest = np.zeros((number_snapshots, 2))
for i in range(number_snapshots):
  latest[i,0] = snapshots_info[i]["latest_record_time_stamp"]

for i in range(number_snapshots):
  latest[i,1] = snapshots_info[i]["snapshot_id"]

# Comparar con la fecha de la incidencia para buscar cual esta inmediatamente antes
  # Ordenar por timestamp (primera columna)
  latest1 = latest[latest[:,0].argsort()]
  latest2 = np.flip(latest1, axis=0)
  # Eliminar valores mayores
  latest3 = latest2[latest2[:,0]<float(fecha_inicio_incidencia)]
# Escoger el id de la reversion correcta
id_revert = latest3[0,1]
id_revert = str(int(id_revert))

In [ ]:
# Paso 3. Revertir el Job antes de la incidencia 
cliente_ml.revert_model_snapshot(job_id=jobname, snapshot_id=id_revert, delete_intervening_results=True)
sleep(5)

In [ ]:
# Paso 4. Abrir el Job 
cliente_ml.open_job(job_id=jobname)
sleep(5)

In [ ]:
# Paso 5. Avanzamos datafeed hasta la fecha de inicio de incidencia
cliente_ml.start_datafeed(datafeed_id=datafeed_id, end=fecha_inicio_incidencia)
state_datafeed = 1

# Una vez completado el paso continuamos al siguiente
while (state_datafeed == 1):
  sleep(10)
  state_datafd = cliente_ml.get_datafeed_stats(datafeed_id=datafeed_id)
  st = state_datafd['datafeeds']
  state_actual = st[0]['state'] 
  if (state_actual == 'stopped'):
    state_datafeed = 0

In [ ]:
# Paso 6. Abrir el Job 
cliente_ml.open_job(job_id=jobname)
sleep(5)

In [ ]:
# Paso 7. Avanzamos datafeed desde la fecha de fin de incidencia hasta la fecha actual
cliente_ml.start_datafeed(datafeed_id=datafeed_id, start=str(int(fecha_fin_incidencia)))

ObjectApiResponse({'started': True, 'node': '1UbOBFWrRuiIttmnruod0A'})

# Parte de Indices

In [49]:
#pip install eland
#pip install elasticsearch

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting eland
  Downloading eland-8.3.0-py3-none-any.whl (143 kB)
     |████████████████████████████████| 143 kB 8.2 MB/s
Requirement already satisfied: elasticsearch<9,>=8.3 in /usr/local/lib/python3.7/dist-packages (from eland) (8.5.2)
Requirement already satisfied: matplotlib<4 in /usr/local/lib/python3.7/dist-packages (from eland) (3.2.2)
Requirement already satisfied: numpy<2 in /usr/local/lib/python3.7/dist-packages (from eland) (1.21.6)
Requirement already satisfied: pandas<2,>=1.2 in /usr/local/lib/python3.7/dist-packages (from eland) (1.3.5)
Requirement already satisfied: elastic-transport<9,>=8 in /usr/local/lib/python3.7/dist-packages (from elasticsearch<9,>=8.3->eland) (8.4.0)
Requirement already satisfied: urllib3<2,>=1.26.2 in /usr/local/lib/python3.7/dist-packages (from elastic-transport<9,>=8->elasticsearch<9,>=8.3->eland) (1.26.13)
Requirement already satisfied: certifi in /usr/local/lib/python3.7/dist-packages (from elastic-transport<9,>=8->elasticsearch<9,>=8.3->eland) (2022.9.24)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib<4->eland) (3.0.9)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib<4->eland) (1.4.4)
Requirement already satisfied: python-dateutil>=2.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib<4->eland) (2.8.2)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.7/dist-packages (from matplotlib<4->eland) (0.11.0)
Requirement already satisfied: typing-extensions in /usr/local/lib/python3.7/dist-packages (from kiwisolver>=1.0.1->matplotlib<4->eland) (4.1.1)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas<2,>=1.2->eland) (2022.6)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.1->matplotlib<4->eland) (1.15.0)
Installing collected packages: eland
Successfully installed eland-8.3.0

In [101]:
# Importacion de modulos 
import elasticsearch
import numpy as np
from elasticsearch import Elasticsearch
from elasticsearch import client
from datetime import datetime
from time import sleep
from elasticsearch.client import IndicesClient
import eland as ed
import pandas as pd

# Inputs

In [104]:
# Informacion sobre la incidencia
fecha_inicio_incidencia = "2022-03-04 23:50:00" # Meter la hora segun timezone, no en UTC
fecha_fin_incidencia    = "2022-03-06 00:10:00" # Meter la hora según timezone, no en UTC

# Nombre del Job de Elastic
jobname                 = "sabado_anomalia"
variable_name_predict   = "y_an"

# Nombre del indice sobre el que se realiza el Job
index_data              = 'sabado_incidencia'

# Nuevas variables

In [105]:
# Calculo del offset por cambio de hora

# Timestamps fechas incidencia
fecha_inicio_incidencia = datetime.strptime(fecha_inicio_incidencia, '%Y-%m-%d %H:%M:%S')
fecha_inicio_incidencia_timestamp = datetime.timestamp(fecha_inicio_incidencia)*1000

fecha_fin_incidencia = datetime.strptime(fecha_fin_incidencia, '%Y-%m-%d %H:%M:%S')
fecha_fin_incidencia_timestamp = datetime.timestamp(fecha_fin_incidencia)*1000

# Timestamps de las fechas de cambio de hora

# Primer cambio de hora
fecha_cambio_hora_1 = "2022-03-27 02:00:00" 
fecha_cambio_hora_1 = datetime.strptime(fecha_cambio_hora_1, '%Y-%m-%d %H:%M:%S')
fecha_cambio_hora_1_timestamp = datetime.timestamp(fecha_cambio_hora_1)*1000

# Segundo cambio de hora
fecha_cambio_hora_2 = "2022-10-30 02:00:00" 
fecha_cambio_hora_2 = datetime.strptime(fecha_cambio_hora_2, '%Y-%m-%d %H:%M:%S')
fecha_cambio_hora_2_timestamp = datetime.timestamp(fecha_cambio_hora_2)*1000

# Comparamos fechas en el mismo año 
fecha_inicio_incidencia_cambio_timestamp = (datetime(2022, fecha_inicio_incidencia.month, fecha_inicio_incidencia.day, fecha_inicio_incidencia.hour, fecha_inicio_incidencia.minute, fecha_inicio_incidencia.second).timestamp())*1000 

if (fecha_inicio_incidencia_cambio_timestamp < fecha_cambio_hora_1_timestamp):
    offset_1 = -3600 

if ((fecha_inicio_incidencia_cambio_timestamp > fecha_cambio_hora_1_timestamp) and (fecha_inicio_incidencia_cambio_timestamp < fecha_cambio_hora_2_timestamp)):
  offset_1 = -7200

if (fecha_cambio_hora_2_timestamp < fecha_inicio_incidencia_cambio_timestamp):
  offset_1 = -3600  

fecha_fin_incidencia_cambio_timestamp = (datetime(2022, fecha_fin_incidencia.month, fecha_fin_incidencia.day, fecha_fin_incidencia.hour, fecha_fin_incidencia.minute, fecha_fin_incidencia.second).timestamp())*1000 

if (fecha_fin_incidencia_cambio_timestamp < fecha_cambio_hora_1_timestamp):
    offset_2 = -3600 

if ((fecha_fin_incidencia_cambio_timestamp > fecha_cambio_hora_1_timestamp) and (fecha_fin_incidencia_cambio_timestamp < fecha_cambio_hora_2_timestamp)):
  offset_2 = -7200

if (fecha_cambio_hora_2_timestamp < fecha_fin_incidencia_cambio_timestamp):
  offset_2 = -3600

In [111]:
# Transformacion de variables de entrada
# Fechas
fecha_inicio_incidencia = (fecha_inicio_incidencia_timestamp + offset_1*1000)/1000
fecha_fin_incidencia    = (fecha_fin_incidencia_timestamp + offset_2*1000)/1000

fecha_inicio_incidencia_datetime = datetime.fromtimestamp(fecha_inicio_incidencia)
fecha_fin_incidencia_datetime = datetime.fromtimestamp(fecha_fin_incidencia)

# Nombre del Datafeed
datafeed_id = "datafeed-" + jobname

In [112]:
fecha_inicio_incidencia_datetime

datetime.datetime(2022, 3, 4, 22, 50)

In [113]:
es_client = Elasticsearch(
    cloud_id=CLOUD_ID,
    basic_auth=("elastic", ELASTIC_PASSWORD)
)
cliente_index = IndicesClient(client=es_client)

In [114]:
# Creacion del Indice de Backup
indexname = 'indicebackup'
try:
  cliente_index.create(index=indexname)
except:
  cliente_index.delete(index=indexname)
  cliente_index.create(index=indexname)

In [115]:
# Reindexar datos de la anomalia al indice backup (me queda hacer el filtro de solo el tiempo de anomalia)
cliente_index.reindex(source=index_data, dest=indexname)

AttributeError: ignored

In [132]:
# Obtener datos de la prediccion del Job para el tiempo de anomalia
df = ed.DataFrame(es_client, es_index_pattern=".ml-anomalies-shared")
# Filtramos para nuestro job de interes
df = df[df["job_id"] == jobname]
# Obtenemos las columnas de interes del dataframe
df_select = df[["timestamp", "model_median", "model_upper"]]
# Eliminar filas con valores nulos
df_select = ed.eland_to_pandas(df_select)
df_select = df_select.dropna()
df_select.head(20)
# Ordenamos filas por timestamp
df_select.timestamp
# Seleccionamos timestamp de interes
df_select.head(20)

,timestamp,model_median,model_upper
sabado_anomalia_model_plot_1640991600000_600_0_0_0,2021-12-31 23:00:00,0.000000,0.000000
sabado_anomalia_model_plot_1640992200000_600_0_0_0,2021-12-31 23:10:00,0.000000,0.000000
sabado_anomalia_model_plot_1640992800000_600_0_0_0,2021-12-31 23:20:00,0.000000,0.000000
sabado_anomalia_model_plot_1640993400000_600_0_0_0,2021-12-31 23:30:00,0.000000,0.000000
sabado_anomalia_model_plot_1640994000000_600_0_0_0,2021-12-31 23:40:00,0.000000,0.000000
sabado_anomalia_model_plot_1640994600000_600_0_0_0,2021-12-31 23:50:00,0.000000,0.000000
sabado_anomalia_model_plot_1640995200000_600_0_0_0,2022-01-01 00:00:00,0.000000,0.000000
sabado_anomalia_model_plot_1640995800000_600_0_0_0,2022-01-01 00:10:00,0.000000,0.000000
sabado_anomalia_model_plot_1640996400000_600_0_0_0,2022-01-01 00:20:00,0.000000,0.000000
sabado_anomalia_model_plot_1640997000000_600_0_0_0,2022-01-01 00:30:00,0.000000,0.000000
sabado_anomalia_model_plot_1640997600000_600_0_0_0,2022-01-01 00:40:00,361.367008,480.559817
sabado_anomalia_model_plot_1640998200000_600_0_0_0,2022-01-01 00:50:00,367.091679,496.388558
sabado_anomalia_model_plot_1640998800000_600_0_0_0,2022-01-01 01:00:00,372.748836,511.820060
sabado_anomalia_model_plot_1640999400000_600_0_0_0,2022-01-01 01:10:00,378.338802,526.825569
sabado_anomalia_model_plot_1641000000000_600_0_0_0,2022-01-01 01:20:00,383.859989,541.392142
sabado_anomalia_model_plot_1641000600000_600_0_0_0,2022-01-01 01:30:00,389.310257,555.510090
sabado_anomalia_model_plot_1641001200000_600_0_0_0,2022-01-01 01:40:00,394.686939,569.171302
sabado_anomalia_model_plot_1641001800000_600_0_0_0,2022-01-01 01:50:00,399.986973,582.368358
sabado_anomalia_model_plot_1641002400000_600_0_0_0,2022-01-01 02:00:00,405.207093,595.094101
sabado_anomalia_model_plot_1641003000000_600_0_0_0,2022-01-01 02:10:00,410.343934,607.341359

In [133]:
df_select['timestamp'] = pd.to_datetime(df_select.timestamp)

In [134]:
df_select_order = df_select.sort_values(by="timestamp", ascending=True)

In [135]:
df_select_order = df_select_order.set_index("timestamp")
df_select_order.head(20)

                     model_median  model_upper
timestamp
2021-12-31 23:00:00      0.000000     0.000000
2021-12-31 23:10:00      0.000000     0.000000
2021-12-31 23:20:00      0.000000     0.000000
2021-12-31 23:30:00      0.000000     0.000000
2021-12-31 23:40:00      0.000000     0.000000
2021-12-31 23:50:00      0.000000     0.000000
2022-01-01 00:00:00      0.000000     0.000000
2022-01-01 00:10:00      0.000000     0.000000
2022-01-01 00:20:00      0.000000     0.000000
2022-01-01 00:30:00      0.000000     0.000000
2022-01-01 00:40:00    361.367008   480.559817
2022-01-01 00:50:00    367.091679   496.388558
2022-01-01 01:00:00    372.748836   511.820060
2022-01-01 01:10:00    378.338802   526.825569
2022-01-01 01:20:00    383.859989   541.392142
2022-01-01 01:30:00    389.310257   555.510090
2022-01-01 01:40:00    394.686939   569.171302
2022-01-01 01:50:00    399.986973   582.368358
2022-01-01 02:00:00    405.207093   595.094101
2022-01-01 02:10:00    410.343934   607.341359

In [136]:
df_select_filter = df_select_order.loc[fecha_inicio_incidencia_datetime:fecha_fin_incidencia_datetime]

In [137]:
# Hacer un rename del nombre de columna "model_median" al nombre de la variable que se predice en el JOB

# Eliminar variable upper_name

                     model_median  model_upper
timestamp
2022-03-04 22:50:00    308.572916   327.251581
2022-03-04 23:00:00    314.216232   333.835204
2022-03-04 23:10:00    321.957465   340.777473
2022-03-04 23:20:00    331.547022   349.505517
2022-03-04 23:30:00    342.545250   359.655585
2022-03-04 23:40:00    354.518268   370.339739
2022-03-04 23:50:00    367.002699   381.456476
2022-03-05 00:00:00    379.563384   393.267856
2022-03-05 00:10:00    392.088762   404.842154
2022-03-05 00:20:00    404.537268   416.605969

In [ ]:
# Crear la pipeline de ingesta para @timestamp y parsear a un indice los datos teniendo cuidado con el timestamp

In [138]:
# Eliminar del indice principal datos para el timestamp de la incidencia

In [139]:
# Introducir nuevos documentos en este indice

In [ ]:
# Resetear Job desde la snapshot (buscar snapshot como en el modelo anterior y correr job)

In [ ]:
# Sustituir datos del indice backup al indice original para el tiempo de incidencia